<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register Page</title>
    <!--support for  IE8 or IE9-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!--rwd-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<!--styles-->
  <link rel="stylesheet" href="/assets/master.css">  </head>
  <body>
    <header>
      <% include ./partials/messages %>
    </header>

    <div class="container">

        <h1>Register Page</h1>

        <form action="/registerPost" id="my-form"   method="post" >
            <div class="msg"></div>
              <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
              </div>
              <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
              </div>

              <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
              </div>

              <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
              </div>


            <div>
                <input type="submit" class="btn" id="btn" value="submit"></input>
             </div>

            </form>


            <ul class="items" hidden>
                <li class="item">Item 1</li>
                <li class="item">Item 2</li>
                <li class="item">Item 3</li>
            </ul>



          <div>
               Have An Account ? <a href="/login">Login</a>
          </div>

    </div>


       <script src="/assets/validate.js" charset="utf-8">
       </script>
  </body>
</html>
